[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
matplotlib = "*"
seaborn = "*"
pyarrow = "*"
fastparquet = "*"
scikit-learn = "*"
keras-tuner = "*"

[dev-packages]

[requires]
python_version = "3.12"
